* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
}

.container__main {
  width: 1600px;
  margin: 0 auto;
  margin-top: 4%;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.buttonContainer {
  width: 200px;
  margin: 0 auto;
  margin-top: 90px;
  text-align: center;
}

.personalArea a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.buttonExit, .buttonStatus {
  margin-top: 40px;
}

.buttonExit a, .buttonStatus a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.invisible {
  display: none;
}
